.translate-textarea {
    height: 200px;
}

/* Header */
.header {
    left: 0;
    right: 0;
    padding: 0.5rem;
    margin-bottom: 1rem;
    background-color: var(--primary-background);
    color: var(--primary-foreground);
    vertical-align: middle;
    overflow: hidden;
    height: 5rem;
}

#header-logo {
    display:inline-block;
    height: 5rem;
}

#header-title {
    display:inline-block;
    height: 5rem;
}
/* ------------------ */

.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    padding-left: 20px;
    color: var(--primary-foreground);
    background-color: var(--primary-background);
    color: #8f8f8f;
    font-size: 0.85em;
}

body {
    min-height: 100vh;
    position:relative;
}

#main-container {
    padding-bottom: 3rem;
}